
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->
{% macro banner(title) %}
<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">{{title}}</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <img src="/assets/images/g3.jpg" alt="sky view of neighborhood roofing" decoding="async">
    </picture>
</div>

{% endmacro %}