<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1392">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Get in Touch</span>
            <h2 class="cs-title">Contact Us Today</h2>
            <p class="cs-text">
               Ready to discuss your roofing project? Our team is here to answer questions, provide expert guidance, and schedule your free consultation. Let's get started.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="/assets/svgs/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:{{client.phoneForTel}}" class="cs-link">
                            {{client.phoneFormatted}}
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="/assets/svgs/mail.svg" alt="mail icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:{{client.email}}" class="cs-link">
                            Click To Email
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="/assets/svgs/location.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Location</span>
                        <a href="{{client.address.mapLink}}" class="cs-link">
                            Serving Nashville and surrounding areas
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1392" name="Contact Form" method="post">
            <h3 class="cs-h3">Request Your Free Consultation</h3>
            <label class="cs-label">
                <input class="cs-input" required type="text" id="name-1392" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                <input class="cs-input" required type="email" id="email-1392" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                <input class="cs-input" required type="number" id="phone-1392" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label" for="service-1392">
                <div class="cs-dropdown">
                    <select class="cs-select" id="service-1392" name="service" placeholder="Select A Service" required>
                        <option value="" disabled selected>Select a Service</option>
                        <option value="full roof replacement">Full Roof Replacement</option>
                        <option value="roof installation">Roof Installation (New Construction)</option>
                        <option value="strom damage repair">Storm Damage Repair</option>
                        <option value="emergency roof repair">Emergency Roof Repair</option>
                        <option value="metal roof installation">Metal Roof installation</option>
                        <option value="other">Other</option>
                    </select>
                    <img src="/assets/svgs/chev-down.svg" alt="icon" loading="lazy" decoding="async"  width="20"  height="20" aria-hidden="true" />
                </div>
            </label>
            <label class="cs-label">
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1392" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Submit Inquiry</button>
        </form>
    </div>
</section> 
