---
title: "Gallery | Legacy Roofing"
description: "See our Nashville, TN roofing gallery with completed repairs, replacements, and installations showcasing trusted workmanship."
permalink: "/gallery/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/g3.jpg" | resize({ width: 640, height: 566 }) | avif %}" />
    <link rel="stylesheet" href="/assets/css/root.css">
    <link rel="stylesheet" href="/assets/css/gallery.css">
{% endblock %}

{% block body %}

{% from "sections/banner.html" import banner %}
{{ banner( title="Gallery" )}}

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-404">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Portfolio Showcase</span>
                <h2 class="cs-title">See Our Work Firsthand</h2>
            </div>
        </div>
        <div class="cs-gallery-wrapper">
            <div class="cs-gallery">
                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g1.jpg" | resize({ width: 270, height: 270 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g1.jpg" | resize({ width: 270, height: 270 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g1.jpg" | resize({ width: 270, height: 270 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g1.jpg" | resize({ width: 630, height: 630 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g1.jpg" | resize({ width: 630, height: 630 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g1.jpg" | resize({ width: 630, height: 630 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g1.jpg" | resize({ width: 1260, height: 800 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g1.jpg" | resize({ width: 1260, height: 800 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g1.jpg" | resize({ width: 1260, height: 800 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/g1.jpg" | resize({ width: 1260, height: 800 }) | jpeg %}" alt="Aerial view showcases a house with a complex roof design including various slopes, dormers, and a chimney." width="630" height="400" loading="lazy" decoding="async">
                </picture>

                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g2.jpg" | resize({ width: 270, height: 270 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g2.jpg" | resize({ width: 270, height: 270 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g2.jpg" | resize({ width: 270, height: 270 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g2.jpg" | resize({ width: 630, height: 630 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g2.jpg" | resize({ width: 630, height: 630 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g2.jpg" | resize({ width: 630, height: 630 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g2.jpg" | resize({ width: 610, height: 800 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g2.jpg" | resize({ width: 610, height: 800 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g2.jpg" | resize({ width: 610, height: 800 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/g2.jpg" | resize({ width: 610, height: 800 }) | jpeg %}" alt="A white, two-story house with a bright blue front door and clean trim." width="305" height="400" loading="lazy" decoding="async">
                </picture>

                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g3.jpg" | resize({ width: 270, height: 270 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g3.jpg" | resize({ width: 270, height: 270 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g3.jpg" | resize({ width: 270, height: 270 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g3.jpg" | resize({ width: 630, height: 630 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g3.jpg" | resize({ width: 630, height: 630 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g3.jpg" | resize({ width: 630, height: 630 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g3.jpg" | resize({ width: 610, height: 800 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g3.jpg" | resize({ width: 610, height: 800 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g3.jpg" | resize({ width: 610, height: 800 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/g3.jpg" | resize({ width: 610, height: 800 }) | jpeg %}" alt="A variety of roofing styles and materials on closely packed houses." width="305" height="400" loading="lazy" decoding="async">
                </picture>

                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g4.jpg" | resize({ width: 270, height: 270 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g4.jpg" | resize({ width: 270, height: 270 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g4.jpg" | resize({ width: 270, height: 270 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g4.jpg" | resize({ width: 630, height: 630 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g4.jpg" | resize({ width: 630, height: 630 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g4.jpg" | resize({ width: 630, height: 630 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g4.jpg" | resize({ width: 610, height: 800 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g4.jpg" | resize({ width: 610, height: 800 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g4.jpg" | resize({ width: 610, height: 800 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/g4.jpg" | resize({ width: 610, height: 800 }) | jpeg %}" alt="A house with a distinctive dark-tiled roof and contrasting light-colored trim." width="305" height="400" loading="lazy" decoding="async">
                </picture>

                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g5.jpg" | resize({ width: 270, height: 270 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g5.jpg" | resize({ width: 270, height: 270 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g5.jpg" | resize({ width: 270, height: 270 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g5.jpg" | resize({ width: 630, height: 630 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g5.jpg" | resize({ width: 630, height: 630 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g5.jpg" | resize({ width: 630, height: 630 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g5.jpg" | resize({ width: 610, height: 800 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g5.jpg" | resize({ width: 610, height: 800 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g5.jpg" | resize({ width: 610, height: 800 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/g5.jpg" | resize({ width: 610, height: 800 }) | jpeg %}" alt="A man in work attire is cleaning the windows of a modern house with floor-to-ceiling windows." width="305" height="400" loading="lazy" decoding="async">
                </picture>

                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g6.jpg" | resize({ width: 270, height: 270 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g6.jpg" | resize({ width: 270, height: 270 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/g6.jpg" | resize({ width: 270, height: 270 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g6.jpg" | resize({ width: 630, height: 630 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g6.jpg" | resize({ width: 630, height: 630 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/g6.jpg" | resize({ width: 630, height: 630 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g6.jpg" | resize({ width: 1260, height: 800 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g6.jpg" | resize({ width: 1260, height: 800 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/g6.jpg" | resize({ width: 1260, height: 800 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/g6.jpg" | resize({ width: 1260, height: 800 }) | jpeg %}" alt="A modern house with a complex, dark-colored metal tile roof system, including dormers, valleys, and meticulously finished trim details." width="630" height="400" loading="lazy" decoding="async">
                </picture>
            </div>
        </div>
    </div>
</section>

{% include "sections/cta.html" %}

{% endblock %}
